* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FAF9F6;
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #16404D;
}

.light_mode {
    background-color: #FFF1DC;
}

.dark_mode {
    background-color: #16404D;
}

.navbar {
    display: flex;
    gap: 1rem;
    background-color: #E5F3FD;
    width: 100%;
    padding: 0 3rem;
    height: 6rem;
    align-items: center;
}

.navbar .name {
    margin-right: auto;
    position: relative;
    color: #16404D;
    text-decoration: none;
    transition: opacity 0.3s ease;
}
  
.navbar a {
    position: relative;
    color: #16404D;
    padding: 25px 20px;
    text-decoration: none;
    font-size: 1.3rem;
    transition: opacity 0.3s ease;
    font-weight: 500;
    
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 20px;
    width: 0;
    height: 2px;
    background-color: #16404D;
    transition: width 0.3s ease, left 0.3s ease;
    transform: translateX(-50%);
    border-radius: 10px;
}

.navbar a:hover::after {
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
  }

.navbar a.clicked::after {
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

section {
    padding: 4rem 2rem;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile {
    width: 20%;
    border-radius: 50%;
}

h1 {
    font-size: 3rem;
    position: relative;
}

h1::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10%;
    width: 80%;
    height: 6%;
    background-color: #16404D;
    transform: translateX(-50%);
    border-radius: 10px;
}

#home-section {
    background-image: url('./images/back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.btn {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #FFF;
    background-color: #16404D;
    text-decoration: none;
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: -5px;
}

.btn:hover {
    background-color: #0F2C36;
    transform: translateY(-2px);
}

.btn:active {
    background-color: #122E39;
    transform: translateY(1px);
}

#home-section .bio {
    max-width: 57rem;
    padding: 0 2rem;
}

#home-section p {
    font-size: 1.2rem;
    text-align: center;
}